.homepagecontent{
  min-height: 100%;
}

.categorynav{
  background-color: #5E5267;
}

.accordion{
  color: #F4F7FF;
}
/* --------------------Scrollbar----------------------- */

/* width */
::-webkit-scrollbar {
   width: 5px;
   height: 5px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: transparent; 
 }
  
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #3C3541; 
 }

 #userimg {
  width: 60px;
  height: 60px;
  float: right;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.card{
  margin-top: 20px;
  margin-left: 20px;
}

.ideascontent{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
