.container {
  height: 100%;
<<<<<<< HEAD
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
=======
>>>>>>> 5fa3d33c1ed676bb263ec4a7656988e084011fb1
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html,
body{
<<<<<<< HEAD
  height: 100%;
  width: 100%;
=======
  background-color: #E7E6F3;
  height: 100%
>>>>>>> 5fa3d33c1ed676bb263ec4a7656988e084011fb1
}

/* .row{
padding: 50px 0 0 0;
} */

/* Create two equal columns that sits next to each other */
.column1 {
<<<<<<< HEAD
  /* margin: 60px 0 0 0; */
  /* padding: 0 50px; */
  min-width:500px;
  line-height: 315px; /*Should be removed. Only for demonstration */
=======
  margin: 60px 0 0 0;
  padding: 10px;
  line-height: 475px; /*Should be removed. Only for demonstration */
>>>>>>> 5fa3d33c1ed676bb263ec4a7656988e084011fb1
  border: 2px #424473;
  border-radius: 15px 0 0 15px;
  text-align: center;
}

.column2 {
<<<<<<< HEAD
  /* margin: 60px 0 0 0; */
  /* padding: 100px 10px 0 10px; */
  min-width:500px;
=======
  margin: 60px 0 0 0;
  padding: 100px 10px 0 10px;
>>>>>>> 5fa3d33c1ed676bb263ec4a7656988e084011fb1
  border: 2px #F4F6FB;
  border-radius: 0 15px 15px 0;
}

.lgnImage{
display:inline-block;
width:300px;
height:310px;
}

/*Welcome text*/
.welcome{
  text-align: center;
<<<<<<< HEAD
}

/* form {
background-color: #F4F6FB;
} */

=======
}

form {
background-color: #F4F6FB;
}

>>>>>>> 5fa3d33c1ed676bb263ec4a7656988e084011fb1
input[type=text], input[type=password] {
  width: 80%;
  padding: 8px 30px;
  margin: 20px 0 0 0;
  display: inline-block;
  border: 1px #ffff;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  box-shadow:1px 1px 3px 1px rgba(1,1,1,0.2);
}

button {
  background-color: #5A5EAA;
  color: white;
  padding: 6px 0;
  margin: 8px 0;
  border: none;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  width: 60%;
  display:block;
  margin: 0 auto;
}

button:hover {
  opacity: 0.8;
}

.textField {
  padding: 10px 0 0 0;
  text-align: center;
}

.lgn {
  width: 50%;
  border: none;
  border-radius: 10px;
  margin: 30px 0 0 0;
}

/*Remember or forget password*/
/*.reminder{
  padding: 20px 20px 25px 20px;
}

span.psw {
  float: right;
}*/

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }  
}*/