h2.title{
  text-align: right;
}*/

body{
  background-color: #D1D4E3;
}

.empty {
  background-color: #D1D4E3;
  padding: 20px 0;
}

.profileForm {
border: 10px solid #F4F6FB;
background-color: #F4F6FB;
border-radius: 10px;
box-shadow:1px 1px 3px 1px rgba(1,1,1,0.2);
padding: 20px 20px 30px 20px;
margin: 30px;
}

.small-middle-container{
  margin: auto;
  width: 60%;
}

input[type=text], input[type=password] {
  padding: 10px 50px;
  margin: 5px 0;
  display: inline-block;
  border: 1px #ffff;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.pswBtn{
  background-color: #C1AEC3;
  color: #3C3541;
  padding: 10px 10px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.userid{
  float: right;
  margin-top: 0px;
}

.name{
  text-align: center;
}

.imgcontainer {
  display: flex; /* or display:grid */
  justify-content: center;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.updateProfile{
  background-color: #F4F6FB;
  color: #F4F6FB;
  margin: 5px 0 50px 0;
}

.submitProfile {
  background-color: #424473;
  color: white;
  padding: 8px 80px;
  margin: 20px 0;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}

.modalBody{
  margin:10px 100px;
}

input[type=password] {
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.submitPasswordBtn{
  background-color: #424473;
  color: white;
  padding: 5px 40px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}

.cancelPasswordBtn{
  background-color: #F4F7FF;
  color: #424473;
  padding: 10px 50px ;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}