h2.title{
  text-align: right;
}*/

body{
  background-color: #D1D4E3;
}

.empty {
  background-color: #D1D4E3;
  padding: 20px 0;
}

.profileForm {
border: 10px solid #F4F6FB;
background-color: #F4F6FB;
border-radius: 10px;
box-shadow:1px 1px 3px 1px rgba(1,1,1,0.2);
padding: 20px 20px 30px 20px;
margin: 30px;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 135px;
  height: 135px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 135px;
  width: 135px;
}
.profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
}
.profile-pic span {
  display: inline-flex;
  }

.small-middle-container{
  margin: auto;
  width: 60%;
}

input[type=text], input[type=password] {
  padding: 10px 50px;
  margin: 5px 0;
  display: inline-block;
  border: 1px #ffff;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.pswBtn{
  background-color: #C1AEC3;
  color: #3C3541;
  padding: 10px 10px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.userid{
  float: right;
  margin-top: 0px;
}

.name{
  text-align: center;
}

.updateProfile{
  background-color: #F4F6FB;
  color: #F4F6FB;
  margin: 5px 0 50px 0;
}

.submitProfile {
  background-color: #424473;
  color: white;
  padding: 8px 80px;
  margin: 20px 0;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}

.modalBody{
  margin:10px 100px;
}

input[type=password] {
  padding: 10px 10px;
  display: inline-block;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.submitPasswordBtn{
  background-color: #424473;
  color: white;
  padding: 5px 40px;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}

.cancelPasswordBtn{
  background-color: #F4F7FF;
  color: #424473;
  padding: 10px 50px ;
  border: none;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  float: right;
}