.termsBody{
    background-color: #E7E6F3;
  }
  
  .termsTitle {
    margin:90px 300px;
    padding: 30px;
    border: 2px F4F6FB;
    border-radius: 15px 15px;
    background-color: #F4F6FB;
  }
  
  div.termsContent {
    background-color: white;
    height: 480px;
    overflow: scroll;
    padding: 10px;
  }

  .termsCheck {
    margin: 10px 0 0 0;
  }
  
  .lgnButton {
    background-color: #5A5EAA;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    width: 30%;    
  }
  
  .lgn{
      margin: 10px 0 50px 0;
  }